<div>
  <h6>1. What were the most difficult tasks?</h6>
  <p>
    <strong>Answer</strong> Our company has internal CSS libraries for our projects. Although heard about Bootstrap,
    Material had never used it. Thereby most difficult for me was what library to use
  </p>
  <h6>2. Did you learn anything new while completing this assignment?</h6>
  <p>
    <strong>Answer</strong> Learnt the world outside the comfort zone is very exciting too :)
  </p>
  <h6>3. What did you not have time to add? What work took the up majority of your time?</h6>
  <p>
    <strong>Answer</strong> Pagination, units, 
  </p>
  <h6>4. How could the application be improved?</h6>
  <p>
    <strong>Answer</strong> add a dialog(modal) for messages instead of alerts, 
  </p>
  <p>
    enhance the cart to add delete and checkout
  </p>
  <p>
    remove add to cart button for each image icons 
  </p>
</div>